<!DOCTYPE html>
<html>
<head>
  <title>RailsTest - <%= @title %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>



  <br><br><br>
  <%= link_to "Home", "/"%>
</body>
</html>
